Methods and functions

In [1]:
def first_function(name):
    print('Hello '+ name)

In [2]:
first_function('SR')

Hello SR

In [3]:
first_function()

TypeError: first_function() missing 1 required positional argument: 'name'

In [5]:
def first_function(name='Default'):
    print('Hello '+name)

In [6]:
first_function('SR')

Hello SR

In [7]:
first_function()

Hello Default

In [8]:
def add_num(num1,num2):
    return num1+num2

In [9]:
add_num(5,3)

8

In [10]:
result=add_num(5,3)

In [11]:
result

8

In [12]:
add_num([1,2,3], [4,5,6])

[1, 2, 3, 4, 5, 6]

In [13]:
def even_check_list(num_list):
    for num in num_list:
        if num%2==0:
            return True
        else:
            pass

In [14]:
even_check_list([1,3,5,8])

True

In [15]:
def even_check_list(num_list):
    for num in num_list:
        if num%2==0:
            return True
#return statement if exectued, breaks off the function

In [16]:
even_check_list([1,3,5,8,9,5])

True

In [17]:
def even_list(num_list):
    even_num=[]
    for num in num_list:
        if num%2==0:
            even_num.append(num)
    return even_num

In [18]:
even_list([1,2,3,4,5,6])

[2, 4, 6]

In [25]:
stocks_today={'Apple':850, 'Google':475, 'Microsoft':600}

In [64]:
def buy_stocks(stocks_today):
    purchasing_amount=int(input('Enter the purchasing amount: '))
    print('Todays top 3 stocks : ')
    for stock_name,stock_price in stocks_today.items():
        print(f'{stock_name} : {stock_price}')
        
    inp=input('Enter your priority : ')
    priority=tuple(inp.split(','))
    
    prioritised_stocks=[]
    for i in priority:
        prioritised_stocks.append(list(stocks_today.items())[int(i)-1])
    
    purchased_stocks={}
    for stocks,price in prioritised_stocks:
        quantity=0
        while purchasing_amount>=price:
            purchasing_amount-=price
            quantity+=1
            purchased_stocks.update({stocks:quantity})
    
    print('Summanry of your purchase: \nStock Name\tQuantity')
    for stock,quantity in purchased_stocks.items():
        print(f'{stock : <10}\t{quantity: <10}')
    print(f'Remaining amount: {purchasing_amount}')

In [69]:
buy_stocks(stocks_today)

Enter the purchasing amount: 10000
Todays top 3 stocks :
Apple : 850
Google : 475
Microsoft : 600
Enter your priority : 2,1,3
Summanry of your purchase:
Stock Name	Quantity
Google    	21
Remaining amount: 25

In [2]:
def get_purchasing_amount():
    return int(input('\nEnter the purchasing amount: '))

In [3]:
def get_priority():
    inp=input('\nEnter your priority : ')
    return tuple(inp.split(','))

In [4]:
def sort_priority(priority,stocks_today):
    prioritised_stocks=[]
    for i in priority:
        prioritised_stocks.append(list(stocks_today.items())[int(i)-1])
    return prioritised_stocks

In [5]:
def get_limit(prioritised_stocks):
    inp=[]
    for stocks,price in prioritised_stocks:
        inp.append(int(input(f'\nEnter the quantity limit for the purchase for {stocks} stocks: ')))
    return inp

In [6]:
def purchase_stocks(prioritised_stocks,limit,purchasing_amount):
    purchased_stocks={}
    for (stocks,price),lim in zip(prioritised_stocks,limit):
        quantity=0
        while purchasing_amount>=price and quantity<lim:
            purchasing_amount-=price
            quantity+=1
            purchased_stocks.update({stocks:quantity})
    return purchased_stocks,purchasing_amount

In [8]:
stocks_today={'Apple':850, 'Google':475, 'Microsoft':600}

print('Todays top 3 stocks : ')
for stock_name,stock_price in stocks_today.items():
    print(f'{stock_name} : {stock_price}')
        
purchasing_amount=get_purchasing_amount()

prioritised_stocks=sort_priority(get_priority(),stocks_today)

limit=get_limit(prioritised_stocks)

purchased_stocks,remaining_amount=purchase_stocks(prioritised_stocks,limit,purchasing_amount)

print('\nSummary of your purchase: \nStock Name\tQuantity')
for stock,quantity in purchased_stocks.items():
    print(f'{stock : <10}\t{quantity: <10}')
print(f'Remaining amount: {remaining_amount}')

Todays top 3 stocks :
Apple : 850
Google : 475
Microsoft : 600

Enter the purchasing amount: 8850

Enter your priority : 2,1,3

Enter the quantity limit for the purchase for Google stocks: 10

Enter the quantity limit for the purchase for Apple stocks: 5

Enter the quantity limit for the purchase for Microsoft stocks: 8

Summary of your purchase:
Stock Name	Quantity
Google    	10
Apple     	4
Microsoft 	1
Remaining amount: 100

_________________________________________________________________________________________

*args and **kwargs

In [15]:
def args_func(*args):
    squared_list=[]
    for i in args:
        squared_list.append(i**i)
    return squared_list

In [18]:
args_func(2,5,8,25)

[4, 3125, 16777216, 88817841970012523233890533447265625]

In [24]:
def kwargs_func(**kwargs):
    choice=input('Input your choice of cuisine: ')
    if choice in kwargs.keys():
        print(f'{kwargs[choice]}')
    else:
        print(f"Sorry! :(\n{choice} cuisine is not available")

In [27]:
kwargs_func(SouthIndian='Idli, Dose, Upittu', NorthIndian='Poori, Poha, Roti')

Input your choice of cuisine: French
Sorry! :(
French cuisine is not available

In [57]:
from random import shuffle
from random import randint

def args_kwargs(*args, **kwargs):
    keys=list(kwargs.keys())
    shuffle(keys)
    print(f'I would love {list(args)[randint(0,len(args)-1)]} {kwargs[keys[0]]}')

In [61]:
args_kwargs(78,53,69,83, key1='position', key2='k salary', key3='days leave')

I would love 69 position

In [62]:
def try_arg_kwarg(*args,**kwargs,*args):
    print(args)
    print(kwargs)

SyntaxError: invalid syntax (3334082412.py, line 1)

_________________________

Lambda, Mapping and Filter

In [41]:
co_ordinates=[76.2389,87.2193,12.2894,21.3874,12.3289,75.1379,13.9473,76.3134,81.3982,15.3819]

In [40]:
def categorize(crd):
    if int(crd) in range(74,79):
        return 'lon'
    elif int(crd) in range(11,19):
        return 'lat'
    else:
        return 'spam'

In [42]:
categorize(76.2375)

'lon'

In [43]:
print(co_ordinates)
print(list(map(categorize,co_ordinates)))

[76.2389, 87.2193, 12.2894, 21.3874, 12.3289, 75.1379, 13.9473, 76.3134, 81.3982, 15.3819]
['lon', 'spam', 'lat', 'spam', 'lat', 'lon', 'lat', 'lon', 'spam', 'lat']

In [45]:
print(list(zip(co_ordinates,list(map(categorize,co_ordinates)))))

[(76.2389, 'lon'), (87.2193, 'spam'), (12.2894, 'lat'), (21.3874, 'spam'), (12.3289, 'lat'), (75.1379, 'lon'), (13.9473, 'lat'), (76.3134, 'lon'), (81.3982, 'spam'), (15.3819, 'lat')]

In [49]:
category=list(map(categorize,co_ordinates))
category

['lon', 'spam', 'lat', 'spam', 'lat', 'lon', 'lat', 'lon', 'spam', 'lat']

In [59]:
categorized_coordinates={}
for crd,cat in list(zip(co_ordinates,list(map(categorize,co_ordinates)))):
    categorized_coordinates.update({crd:cat})
categorized_coordinates

{76.2389: 'lon',
 87.2193: 'spam',
 12.2894: 'lat',
 21.3874: 'spam',
 12.3289: 'lat',
 75.1379: 'lon',
 13.9473: 'lat',
 76.3134: 'lon',
 81.3982: 'spam',
 15.3819: 'lat'}

In [54]:
def fltr_lat(crd):
    return int(crd) in range(11,19)

In [55]:
list(filter(fltr_lat,co_ordinates))

[12.2894, 12.3289, 13.9473, 15.3819]

In [60]:
def fltr_lon(crd):
    return crd+1

In [61]:
#doesnt work if function doesnt return a boolean
list(filter(fltr_lon,co_ordinates))

[76.2389,
 87.2193,
 12.2894,
 21.3874,
 12.3289,
 75.1379,
 13.9473,
 76.3134,
 81.3982,
 15.3819]

In [74]:
def filter_lat(crd):
    return crd[1]=='lat'

In [75]:
filter_lat((15.3819,'lat'))

True

In [76]:
list(filter(filter_lat,list(categorized_coordinates.items())))

[(12.2894, 'lat'), (12.3289, 'lat'), (13.9473, 'lat'), (15.3819, 'lat')]

In [66]:
list(categorized_coordinates.items())

[(76.2389, 'lon'),
 (87.2193, 'spam'),
 (12.2894, 'lat'),
 (21.3874, 'spam'),
 (12.3289, 'lat'),
 (75.1379, 'lon'),
 (13.9473, 'lat'),
 (76.3134, 'lon'),
 (81.3982, 'spam'),
 (15.3819, 'lat')]

In [77]:
def grab_values(val):
    return val[0]

In [79]:
latitudes=[x for x in map(grab_values,list(filter(filter_lat,list(categorized_coordinates.items()))))]
latitudes

[12.2894, 12.3289, 13.9473, 15.3819]

In [82]:
longitudes=[x for x in map(lambda val: val[0],list(filter(lambda crd: crd[1]=='lon',list(categorized_coordinates.items()))))]
longitudes

[76.2389, 75.1379, 76.3134]

In [83]:
spam_coordinates=[x for x in map(lambda val: val[0],list(filter(lambda crd: crd[1]=='spam',list(categorized_coordinates.items()))))]
spam_coordinates

[87.2193, 21.3874, 81.3982]

________________________

In [1]:
#global and local variables : LEGB <B:built-in>

#global level
x='global'

def fun1():
    
    #enclocing level
    x='enclosing level'
    
    def fun2():
        
        #local level
        x='local'
        print(f'Executed fun2, x={x}')
        
    fun2()
    
    print(f'Executed fun1, x={x}')
    
fun1()
    
print(f'Executed main, x={x}')

Executed fun2, x=local
Executed fun1, x=enclosing level
Executed main, x=global

In [2]:
x

'global'

___

In [4]:
#reassignment of global variables
x=y='global'

def fun():
    global x
    
    #reassignment
    x=y='new global'
    print(f'x={x}')
    print(f'y={y}')
    
fun()
    
print(f'x={x}')
print(f'y={y}')

x=new global
y=new global
x=new global
y=global

In [6]:
#another way of reassignment
x='global'
print(f'Global value: {x}')

def func(x):
    return input()

x=func(x)
print(f'Global value: {x}')

Global value: global
new value
Global value: new value

In [24]:
x='global'
print(f'Global value: {x}')


x=lambda x: input()
print(f"Global value: {x('x')}") #calling lambda function by passing an argument
#can give anything at the argument as essentially its getting replaced by input()

Global value: global
newglobal
Global value: newglobal

___

Decorators

In [1]:
#a function defined inside a function cannot be called outside a function
def main_function():
    print('Main function')
    
    def sub_function():
        print('Sub function')

In [2]:
main_function()

Main function

In [3]:
sub_function()

NameError: name 'sub_function' is not defined

In [4]:
#either it should be called inside the defined block
def main_function():
    print('Main function')
    
    def sub_function():
        print('Sub function')
        
    sub_function()

In [5]:
main_function()

Main function
Sub function

In [6]:
#or it can be returned
def main_function():
    print('Main function')
    
    def sub_function():
        print('Sub function')
        
    return sub_function

In [10]:
sub_func=main_function()

Main function

In [11]:
sub_func()

Sub function

In [13]:
#pass in function as an argument
def main_func(some_func):
    def use_some_func():
        print('Before executing passed func')
        some_func()
        print('After executing passes func')
        
    return use_some_func

In [14]:
def a_func():
    print('This is passed and used by other func')

In [16]:
store_wrapped=main_func(a_func)

In [17]:
store_wrapped()

Before executing passed func
This is passed and used by other func
After executing passes func

In [18]:
#instead of storing in other functions, use decorator 

@main_func
a_func()

SyntaxError: invalid syntax (4214737573.py, line 4)

In [19]:
#instead of storing in other functions, use decorator 

@main_func
def a_func():
    print('This is passed and used by other func')

In [20]:
a_func()

Before executing passed func
This is passed and used by other func
After executing passes func

In [21]:
#to stop the use of decorator, turn it into comment 

#@main_func
def a_func():
    print('This is passed and used by other func')

In [22]:
a_func()

This is passed and used by other func

___

Generators

In [7]:
def cube(n):
    for x in range(n):
         return x**3

In [8]:
for x in cube(10):
    print(x)

TypeError: 'int' object is not iterable

In [5]:
def cube_yield(n):
    for x in range(n):
         yield x**3

In [6]:
for x in cube_yield(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [1]:
def fibonacci():
    a=0
    b=1
    while a<100:
        yield a
        a , b = b , a+b
        
sequence=fibonacci()

In [27]:
print(next(sequence))

0

In [28]:
print(next(sequence))

1

In [29]:
print(next(sequence))

1

In [30]:
print(next(sequence))

2

In [31]:
print(next(sequence))

3

In [32]:
type(sequence)

generator

In [33]:
sequence

In [34]:
print(next(sequence))

5

In [6]:
for x in sequence:
    print(next(sequence))

1
2
5
13
34
89

In [16]:
for x in sequence:
    print(x)

0
1
1
2
3
5
8
13
21
34
55
89

In [20]:
for x in sequence:
    print(sequence)

<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>
<generator object fibonacci at 0x7ff17a686f80>

In [19]:
sequence=fibonacci()

In [18]:
for x in fibonacci():
    print(next(sequence))

0
1
1
2
3
5
8
13
21
34
55
89

In [48]:
s='abcxyz'

In [49]:
for letter in s:
    print(letter)

a
b
c
x
y
z

In [50]:
print(next(s))

TypeError: 'str' object is not an iterator

In [51]:
letters=iter(s)

In [52]:
print(next(letters))

a

In [53]:
print(next(letters))

b